* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.main {
  height: 900px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  box-shadow: -2px 2px 29px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 2px 29px 5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -2px 2px 29px 5px rgba(0, 0, 0, 0.75);
}

.container div {
  display: flex;
}

input {
  border: 0px;
  width: 100%;
  height: 103px;
  text-align: end;
  background-color: black;
  color: white;
  font-size: 30px;
  padding: 5%;
}

.button {
  border: 0.5px solid rgb(174, 174, 178);
  flex: 1;
  height: 80px;
  font-size: 22px;
}

.button__number {
  background-color: rgb(224, 224, 230);
}

.button__operator {
  background-color: rgb(236, 154, 61);
  flex: 1;
}

.button__operator-active {
  background-color: rgb(247, 192, 130);
  flex: 1;
}

.button__no_operator {
  background-color: rgb(197, 196, 203);
}

.button__number__bigbox {
  flex: 2;
}
